@media screen and ( max-width:1200px) {
    .section,
    .header-div{
        width: 992px;
        align-items: center;
    }
}
@media screen and ( max-width:992px) {
    .section,
    .header-div{
        width: 768px;
    }
    .background{
        margin: 0 auto;
    }
    .header-div2{
        flex-direction: column;
    }
}    
@media screen and ( max-width:768px) {
    .section,
    .header-div{
        width: 576px;
    }
    .main-section{
        flex-direction: column;
        align-items: center;
    }
    .footer{
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer div:last-child{
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer div:first-child {
        margin: 0;
    }
    .div1{
        margin: 0;
    }
}
@media screen and ( max-width:576px) {
    .section,
    .header-div{
        width: 100%;
        justify-content: center;
    }
    .header-div1 div{
        display: none;
    }
    .header-div2{
        width: 200px;
    }
}